name: Deploy Nuxt App

on:
  push:
    branches:
      - master   

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            cd /home/deployer/portfolio

            # Mettre à jour le code
            git reset --hard
            git clean -fd
            git pull origin master

            # Build l'image Docker
            docker build -t portfolio-nuxt .

            # Arrêter et supprimer l'ancien container s'il existe
            docker rm -f portfolio-nuxt-container || true

            # Lancer un nouveau container
            docker run -d --name portfolio-nuxt-container -p 3000:3000 portfolio-nuxt
          EOF
